extractreq==0.0.4
tabulate
spacy
spacy-streamlit
pywsd==1.1.0
graphviz
XlsxWriter
sklearn
stanfordcorenlp
nltk==3.2.5
lemminflect==0.2.1
openpyxl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
